<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.jyj.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>com.jyj.servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.jyj.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>com.jyj.servlet.PatientServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>com.jyj.servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jyj.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>D_LoginServlet</servlet-name>
    <servlet-class>com.jyj.servlet.D_LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ksglServlet</servlet-name>
    <servlet-class>com.jyj.servlet.ksglServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YsglServlet</servlet-name>
    <servlet-class>com.jyj.servlet.YsglServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GhglServlet</servlet-name>
    <servlet-class>com.jyj.servlet.GhglServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>fkServlet</servlet-name>
    <servlet-class>com.jyj.servlet.fkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.BDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.jyj.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.GDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.HDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.jyj.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.WDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XHDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.XHDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XNDrugServlet</servlet-name>
    <servlet-class>com.jyj.servlet.XNDrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CfdServlet</servlet-name>
    <servlet-class>com.jyj.servlet.CfdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>A_LoginServlet</servlet-name>
    <servlet-class>com.jyj.servlet.A_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>A_LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
   




















  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/servlet/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/servlet/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/servlet/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/servlet/PatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/servlet/DoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>D_LoginServlet</servlet-name>
    <url-pattern>/servlet/D_LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ksglServlet</servlet-name>
    <url-pattern>/servlet/ksglServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YsglServlet</servlet-name>
    <url-pattern>/servlet/YsglServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GhglServlet</servlet-name>
    <url-pattern>/servlet/GhglServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fkServlet</servlet-name>
    <url-pattern>/servlet/fkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BDrugServlet</servlet-name>
    <url-pattern>/servlet/BDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GDrugServlet</servlet-name>
    <url-pattern>/servlet/GDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HDrugServlet</servlet-name>
    <url-pattern>/servlet/HDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/servlet/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WDrugServlet</servlet-name>
    <url-pattern>/servlet/WDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XHDrugServlet</servlet-name>
    <url-pattern>/servlet/XHDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XNDrugServlet</servlet-name>
    <url-pattern>/servlet/XNDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfdServlet</servlet-name>
    <url-pattern>/servlet/CfdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>A_LoginServlet</servlet-name>
    <url-pattern>/servlet/A_LoginServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
